.outerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ButtonPage {
  background-color: black ;
  padding: 14px 15px;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 10px;
  border:black;
}


.fancyLink {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.ButtonPage:hover {
   background-color: #969696;
   color: black;
  
}