.outerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ButtonPage {
  background-color: #000000;
  padding: 14px 15px;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 10px;
  border-color: #ffff94;
}

.fancyLink {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.ButtonPage:hover {
   background-color: #464543;
   color: black;
}